<div class="row">
    <div class="col-md-12">
            <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">

    </div>
</div>
<div class="row">
        <div class="col-md-12">
                <button  (click)="upload()" class="btn btn-success mt-3">Upload</button>
        </div>
</div>


<div class="picture" *ngIf="uploaded">
    <img [src]="imageUrl" class="img-fluid img-thumbnail">
</div>

<div class="picture" *ngIf="!uploaded" style="color: white">
        <p>No image uploaded!</p>
    </div>