img{
  width:50%;
  height:300px;
  text-align: center;
}

input{
  background-color: white;
  display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
}