<div class="row">
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/audio']">Music</button>
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/youtube']">Youtube</button>
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/message-list']">Chat box</button>
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/razor']">Razor-pay</button>
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/map-section']">Map</button>
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/one']">One signal</button>
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/cloudinery']">Upload photo</button>
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/country']">Country code</button>

</div>